<div id="banner" class="carousel slide" data-bs-ride="carousel">
  <div id="indicadores" class="carousel-indicators">
    <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#banner" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#banner" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#banner" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#banner" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#banner" data-bs-slide-to="5"></button>
  </div>

  <div id="imagens" class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/Batgir.jpg" class="d-block w-100" alt="">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/img/vader.jpeg" class="d-block w-100" alt="">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/img/crunchyroll.jpg" class="d-block w-100" alt="">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/img/lolbrasil.jpg" class="d-block w-100" alt="">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/img/animefest.jpg" class="d-block w-100" alt="">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/img/cosplaydva.jpg" class="d-block w-100" alt="">
    </div>
  </div>

  <button type="button" class="carousel-control-prev" data-bs-target="#banner" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button type="button" class="carousel-control-next" data-bs-target="#banner" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>

<div>

<hr class="featurette-divider">

<div class="container d-flex flex-row">
  <div class="col">
  <div class="card" style="width: 13rem;">
    <img src="../../../assets/img/cris.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 13rem;">
    <img src="../../../assets/img/ded.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 13rem;">
    <img src="../../../assets/img/heroacademia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>

  <div class="col">
    <div class="card" style="width: 13rem;">
      <img src="../../../assets/img/multiversus.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 13rem;">
      <img src="../../../assets/img/X-Men.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>

<hr class="featurette-divider">

<div class="container">
  <div class="card mb-3" style="max-width: 1200px;">
    <div class="row g-0">
      <div class="col-8">
        <img src="../../../assets/img/Marvel.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-4">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row gap-5">
    <div class="card mb-3 bl-3" style="max-width: 350px;">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/img/onepiece.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>


    <div class="card mb-3 bl-3" style="max-width: 900px;">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/img/Pantera-Negra.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row gap-5">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row gap-3">
        <div class="card mb-3 bl-3" style="max-width: 350px;">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/warner.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bl-3" style="max-width: 350px;">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/percy.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row gap-3">
        <div class="card mb-3 bl-3" style="max-width: 350px;">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/chainsaw-man.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bl-3" style="max-width: 350px;">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/garfield.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row gap-3">
        <div class="card mb-3 bl-3" style="max-width: 350px;">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/cosplay-armor.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bl-3" style="max-width: 350px;">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <img src="../../../assets/img/square.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mb-3 bl-3" style="max-width: 350px;">
      <div class="card">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/img/publicidade.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="lista">

        <h3 class="h3">Em alta</h3>
        <div class="d-flex flex-row align-items-center">
        <article class="item">
          <span class="numero">1</span>
          <a class="noticias" href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
        </article>
        </div>

        <div class="d-flex flex-row align-items-center">
        <article class="item">
          <span class="numero">2</span>
          <a class="noticias" href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
        </article>
        </div>

        <div class="d-flex flex-row align-items-center">
        <article class="item">
          <span class="numero">3</span>
          <a class="noticias" href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
        </article>
        </div>

        <div class="d-flex flex-row align-items-center">
        <article class="item">
          <span class="numero">4</span>
          <a class="noticias" href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
        </article>
        </div>


        <article class="item">
          <span class="numero">5</span>
          <div class="d-flex flex-row align-items-center">
          <a class="noticias" href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
          </div>
        </article>


      </div>

    </div>

  </div>



</div>
