<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid d-flex flex-column">
    <a class="navbar-brand" href="#">
      <img src="#" alt="marcadosite">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5">

        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Filmes e series </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">HQS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Animações</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Games</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Cosplays</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 bt-1">
  <div class="col-md-4 d-flex align-items-center">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img src="marcadosite" alt="">
    </a>
    <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a href="#" class="text-muted">
        <img src="" alt="twiter">
      </a>
    </li>

    <li class="ms-3">
      <a href="#" class="text-muted">
        <img src="" alt="instagram">
      </a>
    </li>

    <li class="ms-3">
      <a href="#" class="text-muted">
        <img src="" alt="facebook">
      </a>
    </li>

  </ul>

</footer>
</div>
